/*
 Cubricks Theme buttons styling.
*/

.site-content nav a.page-numbers.prev,
.site-content nav a.page-numbers.next,
.site-content nav span.previous a,
.site-content nav span.next a,
input[type="submit"],
#supplementary input[type="submit"],
article.post-password-required input[type=submit],
#comment-nav-above .nav-previous a,
#comment-nav-above .nav-next a,
#respond input[type="submit"],
.cubricks-login a {
	border-width: 1px;
	border-style: solid;
	outline: 0;
	font-size: 14px;
	font-size: 1.0rem;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.cubricks-login a {
	padding: 0 10px 2px 10px;
	font-weight: normal;
}
.site-content nav a.page-numbers.prev,
.site-content nav a.page-numbers.next,
.site-content nav span.previous a,
.site-content nav span.next a,
#comment-nav-above .nav-previous a,
#comment-nav-above .nav-next a {
	height: 47px;
	height: 3.357142857rem;
	line-height: 2.5;
}
input[type="submit"],
article.post-password-required input[type=submit] {
	height: 29px;
	height: 2.071428571rem;
}

/* blue buttons */
.site-content nav a.page-numbers.prev,
.site-content nav a.page-numbers.next,
.site-content nav span.previous a,
.site-content nav span.next a,
input[type="submit"],
#supplementary input[type="submit"],
article.post-password-required input[type=submit],
#comment-nav-above .nav-previous a,
#comment-nav-above .nav-next a,
#respond input[type="submit"],
.cubricks-login a {
	background-color: #4D90FE;
	background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
	background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
	background-image: linear-gradient(top,#4D90FE,#4787ED);
	border-color: #3079ED;
	color: #FFFFFF;
}
.site-content nav a.page-numbers.prev:hover,
.site-content nav a.page-numbers.next:hover,
.site-content nav span.previous a:hover,
.site-content nav span.next a:hover,
input[type="submit"]:hover,
#supplementary input[type="submit"]:hover,
article.post-password-required input[type=submit]:hover,
input[type="submit"]:active,
article.post-password-required input[type=submit]:active,
#comment-nav-above .nav-previous a:hover,
#comment-nav-above .nav-next a:hover,
#respond input[type="submit"]:hover,
.cubricks-login a:hover {
	background-color: #357AE8;
	background-image: -webkit-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -moz-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -ms-linear-gradient(top,#4D90FE,#357AE8);
	background-image: -o-linear-gradient(top,#4D90FE,#357AE8);
	background-image: linear-gradient(top,#4D90FE,#357AE8);
	border-color: #2F5BB7;
	color: #FFFFFF;
}

/* Whitesmoke buttons */
.site-content nav span.page-numbers.current,
.site-content nav a.page-numbers {
	line-height: 2.5;
	height: 47px;
	height: 3.357142857rem;
	padding: 5px 7px 6px;
	padding: 0.357142857rem 0.5rem 0.428571428rem;
	border-width: 1px;
	border-style: solid;
	outline: 0;
	font-size: 14px;
	font-size: 1.0rem;
	white-space: nowrap;
	word-wrap: normal;
	vertical-align: middle;
	cursor: pointer;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.site-content nav a.page-numbers {	
	background-color: #F5F5F5;
	background-image: -webkit-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: -o-linear-gradient(top,#F5F5F5,#F1F1F1);
	background-image: linear-gradient(top,#F5F5F5,#F1F1F1);
	border-color: #DCDCDC;
	color: #777777;
}
.site-content nav a.page-numbers:hover,
.site-content nav span.page-numbers.current {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -moz-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -ms-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: -o-linear-gradient(top,#F8F8F8,#F1F1F1);
	background-image: linear-gradient(top,#F8F8F8,#F1F1F1);
	border-color: #C6C6C6;
	color: #444444;
}

/* Twitter Follow Button */
.twitter-follow {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font: normal normal normal 11px/18px 'Helvetica Neue',Arial,sans-serif;
	height: 20px;
	max-width: 100%;
	position: relative;
	background-color: #F8F8F8;
	background-image: -webkit-gradient(linear,left top,left bottom,from(white),to(#DEDEDE));
	background-image: -moz-linear-gradient(top,white,#DEDEDE);
	background-image: -o-linear-gradient(top,white,#DEDEDE);
	background-image: -ms-linear-gradient(top,white,#DEDEDE);
	background-image: linear-gradient(top,white,#DEDEDE);
	border: 1px solid #CCC;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	overflow: hidden;
}
.twitter-follow:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#F8F8F8,#DEDEDE);
	background-image: -moz-linear-gradient(top,#F8F8F8,#DEDEDE);
	background-image: -ms-linear-gradient(top,#F8F8F8,#DEDEDE);
	background-image: -o-linear-gradient(top,#F8F8F8,#DEDEDE);
	background-image: linear-gradient(top,#F8F8F8,#DEDEDE);
	border: 1px solid #B6B6B6;
}
.twitter-follow .twittericon {
	position: absolute;
	top: 50%;
	left: 2px;
	margin-top: -5px;
	width: 16px;
	height: 13px;
	background: transparent url(../images/twitter-icon.png) 0% 0% no-repeat scroll;
}
.twitter-follow .twitterlabel {
	padding: 0 3px 0 19px;
	white-space: nowrap;
}