/*
 * jQuery Nivo Slider v3.1
 * http://nivo.dev7studios.com
 *
 * Copyright 2011, Gilbert Pellegrom
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 * 
 * March 2010
 */

/* =Nivo Slider
------------------------------------------ */
#content-slider #slider-wrapper,
#content-slider .nivoSlider,
#content-slider .slider-overlay {
	max-width: 680px;
	max-height: 365px;
}
#showcase-slider #slider-wrapper,
#showcase-slider .nivoSlider {
	max-width: 1400px;
	max-height: 518px;
	margin: 0 auto;
}
#content-slider .featured-posts section.featured-post {
	max-width: 680px;
	max-height: 365px;
	margin: 0 auto;
}
#showcase-slider #featured-posts-wrapper,
#showcase-slider .featured-posts section.featured-post {
	max-width: 1024px;
	max-height: 518px;
	margin: 0 auto;
}
#content-slider #featured-posts-wrapper {
	position: relative;
}
#showcase-slider #featured-posts-wrapper {
	position: relative;
	padding: 24px;
	padding: 1.714285714rem;
}
#showcase-slider .slider-overlay {
	max-width: 1024px;
	margin: 0 auto;
}
#slider-wrapper {
	overflow: hidden;
}
.slider-overlay {
	position: relative;
}

/* The Nivo Slider styles */
.nivoSlider {
	background: #fff url(../images/nivoSlider/loading.gif) no-repeat scroll 50% 50%;
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}
.nivo-box img {
	display: block;
}


/* Caption styles */
#showcase-slider .nivo-caption {
	margin: 0 auto;
	margin-top: -120px;
	margin-left: 12px;
}
#content-slider .nivo-caption {
	margin: 0 auto;
	margin-top: -100px;
	margin-left: 12px;
}
#content-slider .nivo-caption {
	font-size: 17px;
}
.nivo-caption {
	color: #FFF;
	background: rgba(0,0,0,0.6);
	z-index: 9;
	padding: 10px;
	padding: 0.714285714rem;
	overflow: hidden;
	display: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: absolute;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
	width: auto;
}
.nivo-caption p {
	padding: 5px;
	margin: 0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display: none;
}

/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position: absolute;
	top: 45%;
	z-index: 9;
	cursor: pointer;
}
.nivo-prevNav {
	left: 0px;
}
.nivo-nextNav {
	right: 0px;
}

/* Direction nav styles (e.g. Next & Prev) */
#showcase-slider .nivo-directionNav {
	position: relative;
	margin: 0 auto;
}
#content-slider .nivo-directionNav {
	position: relative;
	max-width: 680px;
	max-width: 48.571428571rem;
}
.nivo-directionNav a {
	position: absolute;
	z-index: 9;
	cursor: pointer;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	opacity: 0.6;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.nivo-directionNav a:hover {
	opacity: 1;
}
#showcase-slider .nivo-prevNav,
#content-slider .nivo-prevNav {
	left: 12px;
	background :url(../images/nivoSlider/left_arrow.png) left no-repeat;
}
#showcase-slider .nivo-nextNav,
#content-slider .nivo-nextNav {
	right: 12px;
	background: url(../images/nivoSlider/right_arrow.png) right no-repeat;
}
#showcase-slider .nivo-directionNav a,
#content-slider .nivo-directionNav a {
	position: absolute;
	z-index: 9;
	cursor: pointer;
	text-indent:-9999px;
	opacity: 0.5;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
#showcase-slider .nivo-directionNav a {
	top: -70px;
}
#content-slider .nivo-directionNav a {
	top: -50px;
}
#content-slider .nivo-directionNav a:hover,
#showcase-slider .nivo-directionNav a:hover {
	opacity: 1;
}
.nivo-directionNav .arrow a {
	color: white;
}

/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align: left;
	padding: 0;
	position: relative;
	z-index: 10;
}
.nivo-controlNav a {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../images/nivoSlider/bullets.png) no-repeat;
	text-indent: -9999px;
	border: 0;
	margin: 0 2px;
}
.nivo-controlNav a.active {
	background-position: 0 100%;
}
.nivo-controlNav {
	text-align: center;
	margin: -20px auto 0 auto;
	padding: 0 0 6px 0;
}
.nivo-controlNav a {
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}
#showcase-slider .nivo-directionNav,
#showcase-slider .nivo-caption,
#showcase-slider .nivo-controlNav {
	max-width: 1024px;
	max-width: 73.142857142rem;
}

/* Minimum width of 1024 pixels. */
@media screen and (min-width: 1024px) {
	#showcase-slider .nivo-prevNav {
		left: 0;
	}
	#showcase-slider .nivo-nextNav {
		right: 0;
	}
	#showcase-slider .featured-posts {
		padding: 40px;
		padding: 2.857142857rem;
	}
	#showcase-slider .feature-controller ul {
		top: 12px;
		right: 40px;
	}
}

/* Featured Slider */
#content-slider .featured-posts,
#showcase-slider .featured-posts {
	height: 365px;
}
#showcase-slider .featured-posts section.featured-post,
#content-slider .featured-posts section.featured-post {
	height: 365px;
}
#showcase-slider .featured-posts section.featured-post {
	padding: 12px;
	margin-bottom: 12px;
}
#showcase-slider .featured-posts section.featured-post {
	padding: 12px;
	margin-bottom: 12px;
}
.featured-posts section.featured-post article {
	background: none;
}
.featured-posts {
	display: block;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.featured-posts section.featured-post {
	background: #fff;
	left: 0;
	margin: 0;
	position: absolute;
	max-width: 100%;
	overflow: hidden;
	-webkit-transition-duration: 200ms;
	-webkit-transition-property: opacity, visibility;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 200ms;
	-moz-transition-property: opacity, visibility;
	-moz-transition-timing-function: ease;
	opacity: 0;
	visibility: hidden;
}

.featured-posts #featured-post-1 {
	opacity: 1;
	visibility: visible;
}
.featured-post .feature-text:after,
.featured-post .feature-image.small:after {
	content: ' ';
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C */
	width: 100%;
	height: 45px;
	position: absolute;
	top: 230px;
}
.featured-post .feature-image.small:after {
	top: 253px;
}

/* Nav controller */
.feature-controller {
	position: relative;
}
#content-slider .feature-controller {
	padding-bottom: 24px;
	padding-bottom: 1.714285714rem;
}
#showcase-slider .feature-controller ul,
#content-slider .feature-controller ul { 
	overflow: visible;
	z-index: 99;
	position: absolute;
}
#content-slider .feature-controller ul {
	top: 0px;
	right: 0px;
}
#showcase-slider .feature-controller ul {
	top: 12px;
	right: 24px;
}
.feature-controller ul {
	list-style-type: none;
	margin: 0;
}
.feature-controller li {
	float: left;
	margin: 0 6px;
}
.feature-controller a {
	background: #3c3c3c;
	background: rgba(60,60,60,0.9);
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.5), inset 0 0 2px rgba(255,255,255,0.5);
	display: block;
	width: 12px;
	height: 12px;
}
.feature-controller a.active {
	background: #1982d1;
	-webkit-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	-moz-box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	box-shadow: inset 1px 1px 5px rgba(0,0,0,0.4), inset 0 0 2px rgba(255,255,255,0.8);
	cursor: default;
	opacity: 0.5;
}